
{% extends 'base.html' %}


{% block content %}
    <!-- slider start -->

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/slider.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/slider.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/slider.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- slider close -->

    <h1 class="text-center mt-5">About us</h1>
    
    <p class="container mt-3 mb-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum modi, cumque optio sequi consequuntur 
      neque deserunt, fugit facere illo atque hic,
      laudantium alias totam eaque. Voluptas accusantium cupiditate harum officiis!
    </p>


  

    <!-- card start -->


    <div class="container mb-5">

      <div class="row">

    {% for x in gallery_obj%}
             
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="{{ x.g_image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ x.g_title }}</h5>
                  <p class="card-text">{{ x.g_disc }}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

    {% endfor %}
   
      </div>
        
    </div>

    <!-- card stop -->

{% endblock %}